<div class="container mt-2">
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12 mt-4">
      <img
        src="../../../assets/carusel-image.jpg"
        class="img-fluid"
        alt="..."
      />
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12 mt-4">
      <div class="promoted-text">
        <h1 class="text-center">چگونه تبلیغ خود را در صفحه اول قرار دهیم</h1>
        <p class="text">
          شما هم میتوانید در صفحه اول سامانه تعویض روغنی قرار بگیرید کافیست برای
          مغازه خود یک حساب کاربری در سامانه تعویض روغن بسازید و با ورود به حساب
          کاربری خود در قسمت تبلیغات درخواست خود را برای ما ارسال کنید تا ما در
          سریع ترین زمان ممکن با شما برای اقدامات بعدی تماس بگیریم.
        </p>
      </div>
    </div>
  </div>
  <app-map></app-map>
  <app-return-button></app-return-button>
</div>
