.login-container{
    border: solid 4px royalblue;
    border-radius: 25px;
    background-color: #fef3c4;
    padding-top: 20px;
    max-width: 500px;
}

label{
    color: royalblue;
    font-weight: bolder;
    left: unset;
}
input{
    border-radius: 25px;
}

.login-input{
    border: none;
    background-color:#fef3c4;
}

.login-input-text{
    font-weight: bolder;
    color: royalblue;
    font-size: 20px;
}

.login-to-crm{
    background-color: white;
    border: solid 4px royalblue;
    color: royalblue;
    font-weight: bolder;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-to-crm:hover{
    background-color: royalblue;
    border: solid 4px white;
    font-weight: bolder;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-seperator{
    border-left: solid 1px #c6bf9d;
}

.return{
    background-color: royalblue;
    color: white;
    border-radius: 25px;
    font-weight: bolder;
    border: solid 4px royalblue;
     width: 200px;
     height: 50px;
}

.return:hover{
    background-color: white;
    color: royalblue;
    border-radius: 25px;
    font-weight: bolder;
    border: solid 4px white;
     width: 200px;
     height: 50px;
}
.form-floating p{
    color: royalblue;
    font-weight: bolder;
}

.was-validated .form-control:valid {
    background-image: none;
  }
  
  
  .was-validated .form-control:invalid {
    background-image: none;
  }