<div class="container d-flex justify-content-center pt-5" *ngIf="!loading">
  <div class="login-container">
    <div class="container  was-validated">
      <div class="form-floating">
        <input
          type="text"
          [(ngModel)]="phone"
          class="form-control is-valid"
          id="floatingPassword1"
          placeholder="تلفن"
          pattern="[0-9]{11}"
          required
        />
        <label for="floatingPassword1">تلفن</label>
        <div class="invalid-feedback">شماره همراه وارد شده معتبر نمیباشد</div>
      </div>
    </div>
    <div class="row d-flex justify-content-center pb-1">
      <button (click)="changePass()" class="login-to-crm mt-5 mb-3">
        تغییر رمز ورود
      </button>
    </div>
  </div>
</div>
<div *ngIf="loading" class="m-5">
  <app-loading ></app-loading>
</div>
<div class="text-center mt-2">
  <button routerLink="/login" class="return mb-5">بازگشتبه صفحه قبل</button>
</div>
