<!-- <div class="container">
  <div class="row">
    <div
      class="d-flex justify-content-center col-xxl-4 col-xl-4 col-lg-6 col-sm-12 col-xs-12"
      *ngFor="let item of CustomerList$ | async"
    >
      <div class="card mt-5" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">
            {{ item.plaque }} - {{ item.userid }} - {{ item.servicedate }}
          </h5>
          <div class="row d-flex justify-content-between mt-2">
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ rows[0] }}</span>
            </div>
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ item.engineoil }}</span>
            </div>
          </div>
          <div class="row d-flex justify-content-between mt-2">
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ rows[1] }}</span>
            </div>
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ item.gearboxoil }}</span>
            </div>
          </div>
          <div class="row d-flex justify-content-between mt-2">
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ rows[2] }}</span>
            </div>
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ item.cabinfilter }}</span>
            </div>
          </div>
          <div class="row d-flex justify-content-between mt-2">
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ rows[3] }}</span>
            </div>
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ item.oilfilter }}</span>
            </div>
          </div>
          <div class="row d-flex justify-content-between mt-2">
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ rows[4] }}</span>
            </div>
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ item.airfilter }}</span>
            </div>
          </div>
          <div class="row d-flex justify-content-between mt-2">
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ rows[5] }}</span>
            </div>
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ item.petrolfilter }}</span>
            </div>
          </div>
          <div class="row d-flex justify-content-between mt-2">
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ rows[6] }}</span>
            </div>
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ item.breakeoil }}</span>
            </div>
          </div>
          <div class="row d-flex justify-content-between mt-2">
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ rows[7] }}</span>
            </div>
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ item.untifreez }}</span>
            </div>
          </div>
          <div class="row d-flex justify-content-between mt-2">
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ rows[8] }}</span>
            </div>
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ item.previouskilometer }}</span>
            </div>
          </div>
          <div class="row d-flex justify-content-between mt-2">
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ rows[9] }}</span>
            </div>
            <div class="carrd history-card-style col-5 text-center">
              <span id="ServiceName">{{ item.nextkilometer }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
