<div class="container d-flex justify-content-center pt-5">
    <div class="login-container">
      <div class="container">
      
        <div class="form-floating mt-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword2"
            placeholder="رمز ورود"
          />
          <label for="floatingPassword2">رمز ارسال شده به موبایل</label>
          
        </div>
        <div class="form-floating mt-5">
         <p class="text-center">زمان باقی مانده 00.00</p>
        </div>
     
       
      </div>
      <div class="row d-flex justify-content-center pb-1">
        
        <button routerLink="/login/register/otp/adminpanel" class="login-to-crm mt-5 mb-3">ارسال مجدد</button>
        
      </div>
     
    </div>
  </div>
  <div class="text-center mt-2">
  <button
    routerLink="/login"
    class="return mb-5"
  >
    بازگشتبه صفحه قبل
  </button>
  </div>
  