<div class="container plaque-container">
  <div class="row">
    <!--start plaque flag-->
    <div class="col-3 d-flex align-items-center justify-content-center">
      <div>
        <div class="pe-2"><p class="fs-5 text-center">ایران</p></div>
        <div class="row">
          <div style="padding-right: 20px" class="col-6 mb-2">
            <app-input></app-input>
          </div>
          <div class="col-6" ><app-input></app-input></div>
        </div>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-4" style="padding: 0px"><app-input></app-input></div>
        <div class="col-4" style="padding: 0px"><app-input></app-input></div>
        <div class="col-4" style="padding: 0px"><app-input></app-input></div>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <!--alphabet selector-->
      <div >
        <select class="" aria-label="Default select example">
          <option selected>الف</option>
          <option value="1">ه</option>
          <option value="2">ج</option>
          <option value="3">ک</option>
        </select>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-6" style="padding: 0px"><app-input></app-input></div>
        <div class="col-6" style="padding: 0px"><app-input></app-input></div>
      </div>
    </div>
  </div>
</div>
