<div *ngIf="loading" class="m-5">
  <app-loading ></app-loading>
</div>
<div class="container d-flex justify-content-center pt-5" *ngIf="!loading">
  <div class="login-container">
    <div class="container was-validated">
      <div class="form-floating">
        <input
          class="form-control is-valid"
          id="floatingPassword"
          placeholder="نام مغازه"
          [(ngModel)]="loginrequest.Phonenumber"
          maxlength="11"
          pattern="[0-9]{11}"
          type="text"
          required
        />
        <label for="floatingPassword">شماره تلفن</label>
        <div class="invalid-feedback">شماره موبایل را وارد کنید</div>
      </div>
      <div class="form-floating mt-3">
        <input
          pattern="(?=.*\d)(?=.*[a-z]).{6,}"
          [minLength]="6"
          type="password"
          class="form-control  is-valid"
          id="floatingPassword1"
          placeholder="رمز ورود"
          [(ngModel)]="loginrequest.pass"
          required
        />
        <label for="floatingPassword1">رمز ورود</label>
        <div class="invalid-feedback">رمز عبور خود را وارد کنید</div>
      </div>
    </div>
    <div class="container mt-3" >
      مرا به خاطر بسپار
      <input [checked]="check" (change)="Check()" type="checkbox" name="remember"></div>
    <div class="row d-flex justify-content-center pb-1">
      
      <button (click)="OnLOgin()" class="login-to-crm mt-3" type="submit">
        ورود
      </button>
    </div>
    <div
      class="container row login-options mt-3 mb-5 d-flex justify-content-center"
    >
      <hr style="width: 70%" />
      <div class="border-seperator col-6 d-flex justify-content-center">
        <button routerLink="register" class="login-to-crm mt-4">ثبت نام</button>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <button routerLink="/login/otp" class="login-to-crm mt-4">
          فراموشی رمز
        </button>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-2">
  <button routerLink="" class="return mb-5">بازگشتبه صفحه قبل</button>
</div>
